<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="utf-8">
        <title>Constants Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" type="text/css" href="https://conversions.herokuapp.com/static/bootstrap.css" />
        <link rel="SHORTCUT ICON" href="https://conversions.herokuapp.com/static/img/Dglove.ico">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
                background-image:url('https://conversions.herokuapp.com/static/img/striped_lens.png'); 
            }
            .sidebar-nav {
                padding: 9px 0px; min-width: 180px;
            }
            .navbar-inner {
                min-width: 760px;
            }
            .container {
            	min-width: 540px;
            }
            th
            {
                text-align: left
            }
            td
            {
                padding:15px; text-align: left; vertical-align:text-top; 
            }
            tr
            {
                padding:15px; text-align: left; vertical-align:text-top; 
            }
            .open {
                display: block;
            }
            .closed {
                display: none;
            }
            .item1 {
                font-size: 15px;
                text-decoration:none;
                cursor: pointer;
                color:black;
                position:relative; right:18%;

            }
            .item2 {
                list-style-type: none;
                font-size:14px;
            }
            .item3 {
                list-style-type: none;
                display:inline;
            }
            .item4 {
                font-size: 15px;
                text-decoration:none;
                cursor: pointer;
                color:black;
                position:relative; right:12%;

            }
            footer {
                width:100%;
                position:fixed;
                top: auto;
                bottom: 0;
                background:#6cf;
            }
            .item1:hover, .item4:hover{
            color: #000;
            }​

          

        </style>
        <link rel="shortcut icon" href="ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand"><img src="https://conversions.herokuapp.com/static/img/Dglove_small_trans3.ico" alt="" style="padding-bottom:5px;" /></a>
                    <a class="brand" style="padding-left:1px;" href="https://www.datanab.net/">Data Nab</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a href="https://www.datanab.net/" style="padding-left:5px;"><i class="icon-home icon-white"></i>Home</a></li>
                            <li><a href="https://www.datanab.net/about" style="padding-left:5px;"><i class="icon-info-sign icon-white"></i>About</a></li>
                            <li><a href="https://www.datanab.net/contact" style="padding-left:5px;"><i class="icon-user icon-white"></i>Contact</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true" style="padding-left:4px;"><i class="icon-list-alt icon-white"></i>
                                    Pages <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="https://constants.datanab.net">Constants</a></li>
                                    <li><a tabindex="-1" href="https://conversions.datanab.net">Conversions</a></li>
                                    <li><a tabindex="-1" href="https://prices.datanab.net">Prices</a></li>
                                    <li><a tabindex="-1" href="https://efficiency.datanab.net">Efficiencies</a></li>
                                    <li class="divider"></li>
                                    <li><a tabindex="-1" href="https://www.datanab.net/examples">Examples</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form method="get" style="margin:2;" action="https://www.picosearch.com/cgi-bin/ts.pl" class="navbar-search pull-right">
                      <input type="hidden" name="index" value="527593" />
                      <input type="text" class="input-medium search-query"  name="query" value="" size="20" placeholder="Type Search Words Here"/>
                      <button type="submit" value="Search" class="btn">Search</button></form>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav ">
                        <ul class="nav nav-list">
                            <li class="nav-header">Pages</li>
                            <li class="active"><a href="https://constants.datanab.net/">Constants</a></li>
                            <li><a href="https://conversions.datanab.net/">Conversion Coefficients</a></li>
                            <li><a href="https://prices.datanab.net/">Prices</a></li>
                            <li><a href="https://efficiency.datanab.net/">Efficiencies</a></li>
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->
                <div class="span9 container">
                    <div class="well well-small">
                        <h3>Constants</h3>
                    </div>
                    <div class="row-fluid">
                            <table border="0" >
                                <tr>
                                    <th>Physics Constants</th>
                                    <th>Chemistry Constants</th>
                                </tr>
                                <tr>
                                    <td><a href="https://constants.datanab.net/physics/planck_constant">Planck's Constant</a><br>
                                        <a href="https://constants.datanab.net/physics/standard_gravity">Standard Gravity</a><br>
                                        <a href="https://constants.datanab.net/physics/electron_mass">Electron Mass</a><br>
                                        <a href="https://constants.datanab.net/physics/characteristic_impedance_of_vacuum">Impedance of a vacuum</a><br>
                                        <a href="https://constants.datanab.net/physics/vacuum_permittivity">Vacuum Permittivity</a><br>
                                        <a href="https://constants.datanab.net/physics/vacuum_permeability">Vacuum Permeability</a><br>
                                        <a href="https://constants.datanab.net/physics/proton_mass">Proton Mass</a><br>
                                        <a href="https://constants.datanab.net/physics/neutron_mass">Neutron Mass</a><br>
                                        <a href="https://constants.datanab.net/physics/elementary_charge">Elementray Charge</a><br>
                                        <a href="https://constants.datanab.net/physics/speed_of_light">Speed of Light</a><br>
                                        <a href="https://constants.datanab.net/physics/speed_of_sound">Speed of Sound</a><br>
                                        </td>
                                    <td><a href="https://constants.datanab.net/chemistry/atomic_mass_unit">Atomic Mass Unit</a><br>
                                        <a href="https://constants.datanab.net/chemistry/avogadros_number">Avogadro's Number</a><br>
                                        <a href="https://constants.datanab.net/chemistry/bohr_radius">Bohr Radius</a><br>
                                        <a href="https://constants.datanab.net/chemistry/molar_gas_constant">Molar Gas Constant</a><br>
                                    <ul class="open">
                                        <ol class="item3" id="item13"><a class="item4" onclick="toggle('item13');">Densities of Common Materials (click to expand)</a></ol>
                                        <ul id="ul_item13" class="closed">
                                            <li class="item2" id="item13_1"><a href="https://constants.datanab.net/chemistry/density/aluminum">Aluminum</a></li>
                                            <li class="item2" id="item13_2"><a href="https://constants.datanab.net/chemistry/density/asphalt">Asphalt</a></li>
                                            <li class="item2" id="item13_3"><a href="https://constants.datanab.net/chemistry/density/beeswax">Beeswax</a></li>
                                            <li class="item2" id="item13_4"><a href="https://constants.datanab.net/chemistry/density/bituminous_coal">Bituminous Coal</a></li>
                                            <li class="item2" id="item13_5"><a href="https://constants.datanab.net/chemistry/density/bone">Bone</a></li>
                                            <li class="item2" id="item13_6"><a href="https://constants.datanab.net/chemistry/density/brass">Brass</a></li>
                                            <li class="item2" id="item13_7"><a href="https://constants.datanab.net/chemistry/density/brick">Brick</a></li>
                                            <li class="item2" id="item13_8"><a href="https://constants.datanab.net/chemistry/density/cement">Cement</a></li>
                                            <li class="item2" id="item13_9"><a href="https://constants.datanab.net/chemistry/density/chalk">Chalk</a></li>
                                            <li class="item2" id="item13_10"><a href="https://constants.datanab.net/chemistry/density/charcoal">Charcoal</a></li>
                                            <li class="item2" id="item13_11"><a href="https://constants.datanab.net/chemistry/density/copper">Copper</a></li>
                                            <li class="item2" id="item13_12"><a href="https://constants.datanab.net/chemistry/density/cork">Cork</a></li>
                                            <li class="item2" id="item13_13"><a href="https://constants.datanab.net/chemistry/density/cotton">Cotton</a></li>
                                            <li class="item2" id="item13_14"><a href="https://constants.datanab.net/chemistry/density/diamond">Diamond</a></li>
                                            <li class="item2" id="item13_15"><a href="https://constants.datanab.net/chemistry/density/earth">Earth</a></li>
                                            <li class="item2" id="item13_16"><a href="https://constants.datanab.net/chemistry/density/glass">Glass</a></li>
                                            <li class="item2" id="item13_17"><a href="https://constants.datanab.net/chemistry/density/gold">Gold</a></li>
                                            <li class="item2" id="item13_18"><a href="https://constants.datanab.net/chemistry/density/ice">Ice</a></li>
                                            <li class="item2" id="item13_19"><a href="https://constants.datanab.net/chemistry/density/iron">Iron</a></li>
                                            <li class="item2" id="item13_20"><a href="https://constants.datanab.net/chemistry/density/lead">Lead</a></li>
                                            <li class="item2" id="item13_21"><a href="https://constants.datanab.net/chemistry/density/leather">Leather</a></li>
                                            <li class="item2" id="item13_22"><a href="https://constants.datanab.net/chemistry/density/mercury">Mercury</a></li>
                                            <li class="item2" id="item13_23"><a href="https://constants.datanab.net/chemistry/density/nickel">Nickel</a></li>
                                            <li class="item2" id="item13_24"><a href="https://constants.datanab.net/chemistry/density/oak_wood">Oak Wood</a></li>
                                            <li class="item2" id="item13_25"><a href="https://constants.datanab.net/chemistry/density/paper">Paper</a></li>
                                            <li class="item2" id="item13_26"><a href="https://constants.datanab.net/chemistry/density/plaster">Plaster</a></li>
                                            <li class="item2" id="item13_27"><a href="https://constants.datanab.net/chemistry/density/rubber">Rubber</a></li>
                                            <li class="item2" id="item13_28"><a href="https://constants.datanab.net/chemistry/density/salt">Salt</a></li>
                                            <li class="item2" id="item13_29"><a href="https://constants.datanab.net/chemistry/density/sand">Sand</a></li>
                                            <li class="item2" id="item13_30"><a href="https://constants.datanab.net/chemistry/density/silicon">Silicon</a></li>
                                            <li class="item2" id="item13_31"><a href="https://constants.datanab.net/chemistry/density/steel">Steel</a></li>
                                            <li class="item2" id="item13_32"><a href="https://constants.datanab.net/chemistry/density/stone">Stone</a></li>
                                            <li class="item2" id="item13_33"><a href="https://constants.datanab.net/chemistry/density/tin">Tin</a></li>
                                            <li class="item2" id="item13_34"><a href="https://constants.datanab.net/chemistry/density/tungsten">Tungsten</a></li>
                                            <li class="item2" id="item13_35"><a href="https://constants.datanab.net/chemistry/density/uranium">Uranium</a></li>
                                        </ul>
                                        <br>
                                        <ol class="item3" id="item14"><a class="item4" onclick="toggle('item14');">Specific Heat of Common Materials (click to expand)</a></ol>
                                        <ul id="ul_item14" class="closed">
                                            <li class="item2" id="item14_1"><a href="https://constants.datanab.net/chemistry/specific_heat/aluminum">Aluminum</a></li>
                                            <li class="item2" id="item14_2"><a href="https://constants.datanab.net/chemistry/specific_heat/asphalt">Asphalt</a></li>
                                            <li class="item2" id="item14_3"><a href="https://constants.datanab.net/chemistry/specific_heat/beeswax">Beeswax</a></li>
                                            <li class="item2" id="item14_4"><a href="https://constants.datanab.net/chemistry/specific_heat/bituminous_coal">Bituminous Coal</a></li>
                                            <li class="item2" id="item14_5"><a href="https://constants.datanab.net/chemistry/specific_heat/bone">Bone</a></li>
                                            <li class="item2" id="item14_6"><a href="https://constants.datanab.net/chemistry/specific_heat/brass">Brass</a></li>
                                            <li class="item2" id="item14_7"><a href="https://constants.datanab.net/chemistry/specific_heat/brick">Brick</a></li>
                                            <li class="item2" id="item14_8"><a href="https://constants.datanab.net/chemistry/specific_heat/cement">Cement</a></li>
                                            <li class="item2" id="item14_9"><a href="https://constants.datanab.net/chemistry/specific_heat/chalk">Chalk</a></li>
                                            <li class="item2" id="item14_10"><a href="https://constants.datanab.net/chemistry/specific_heat/charcoal">Charcoal</a></li>
                                            <li class="item2" id="item14_11"><a href="https://constants.datanab.net/chemistry/specific_heat/copper">Copper</a></li>
                                            <li class="item2" id="item14_12"><a href="https://constants.datanab.net/chemistry/specific_heat/cork">Cork</a></li>
                                            <li class="item2" id="item14_13"><a href="https://constants.datanab.net/chemistry/specific_heat/cotton">Cotton</a></li>
                                            <li class="item2" id="item14_14"><a href="https://constants.datanab.net/chemistry/specific_heat/diamond">Diamond</a></li>
                                            <li class="item2" id="item14_15"><a href="https://constants.datanab.net/chemistry/specific_heat/earth">Earth</a></li>
                                            <li class="item2" id="item14_16"><a href="https://constants.datanab.net/chemistry/specific_heat/glass">Glass</a></li>
                                            <li class="item2" id="item14_17"><a href="https://constants.datanab.net/chemistry/specific_heat/gold">Gold</a></li>
                                            <li class="item2" id="item14_18"><a href="https://constants.datanab.net/chemistry/specific_heat/ice">Ice</a></li>
                                            <li class="item2" id="item14_19"><a href="https://constants.datanab.net/chemistry/specific_heat/iron">Iron</a></li>
                                            <li class="item2" id="item14_20"><a href="https://constants.datanab.net/chemistry/specific_heat/lead">Lead</a></li>
                                            <li class="item2" id="item14_21"><a href="https://constants.datanab.net/chemistry/specific_heat/leather">Leather</a></li>
                                            <li class="item2" id="item14_22"><a href="https://constants.datanab.net/chemistry/specific_heat/mercury">Mercury</a></li>
                                            <li class="item2" id="item14_23"><a href="https://constants.datanab.net/chemistry/specific_heat/nickel">Nickel</a></li>
                                            <li class="item2" id="item14_24"><a href="https://constants.datanab.net/chemistry/specific_heat/oak_wood">Oak Wood</a></li>
                                            <li class="item2" id="item14_25"><a href="https://constants.datanab.net/chemistry/specific_heat/paper">Paper</a></li>
                                            <li class="item2" id="item14_26"><a href="https://constants.datanab.net/chemistry/specific_heat/plaster">Plaster</a></li>
                                            <li class="item2" id="item14_27"><a href="https://constants.datanab.net/chemistry/specific_heat/rubber">Rubber</a></li>
                                            <li class="item2" id="item14_28"><a href="https://constants.datanab.net/chemistry/specific_heat/salt">Salt</a></li>
                                            <li class="item2" id="item14_29"><a href="https://constants.datanab.net/chemistry/specific_heat/sand">Sand</a></li>
                                            <li class="item2" id="item14_30"><a href="https://constants.datanab.net/chemistry/specific_heat/silicon">Silicon</a></li>
                                            <li class="item2" id="item14_31"><a href="https://constants.datanab.net/chemistry/specific_heat/steel">Steel</a></li>
                                            <li class="item2" id="item14_32"><a href="https://constants.datanab.net/chemistry/specific_heat/stone">Stone</a></li>
                                            <li class="item2" id="item14_33"><a href="https://constants.datanab.net/chemistry/specific_heat/tin">Tin</a></li>
                                            <li class="item2" id="item14_34"><a href="https://constants.datanab.net/chemistry/specific_heat/tungsten">Tungsten</a></li>
                                            <li class="item2" id="item14_35"><a href="https://constants.datanab.net/chemistry/specific_heat/uranium">Uranium</a></li>
                                        </ul>
                                        <br>
                                        <ol class="item3" id="item15"><a class="item4" onclick="toggle('item15');">Melting/Flash Point of Common Materials (click to expand)</a></ol>
                                        <ul id="ul_item15" class="closed">
                                            <li class="item2" id="item15_1"><a href="https://constants.datanab.net/chemistry/melting_point/aluminum">Aluminum</a></li>
                                            <li class="item2" id="item15_2"><a href="https://constants.datanab.net/chemistry/melting_point/asphalt">Asphalt</a></li>
                                            <li class="item2" id="item15_3"><a href="https://constants.datanab.net/chemistry/melting_point/beeswax">Beeswax</a></li>
                                            <li class="item2" id="item15_4"><a href="https://constants.datanab.net/chemistry/melting_point/bituminous_coal">Bituminous Coal</a></li>
                                            <li class="item2" id="item15_5"><a href="https://constants.datanab.net/chemistry/melting_point/bone">Bone</a></li>
                                            <li class="item2" id="item15_6"><a href="https://constants.datanab.net/chemistry/melting_point/brass">Brass</a></li>
                                            <li class="item2" id="item15_7"><a href="https://constants.datanab.net/chemistry/melting_point/brick">Brick</a></li>
                                            <li class="item2" id="item15_8"><a href="https://constants.datanab.net/chemistry/melting_point/cement">Cement</a></li>
                                            <li class="item2" id="item15_9"><a href="https://constants.datanab.net/chemistry/melting_point/chalk">Chalk</a></li>
                                            <li class="item2" id="item15_10"><a href="https://constants.datanab.net/chemistry/melting_point/charcoal">Charcoal</a></li>
                                            <li class="item2" id="item15_11"><a href="https://constants.datanab.net/chemistry/melting_point/copper">Copper</a></li>
                                            <li class="item2" id="item15_12"><a href="https://constants.datanab.net/chemistry/melting_point/cork">Cork</a></li>
                                            <li class="item2" id="item15_13"><a href="https://constants.datanab.net/chemistry/melting_point/cotton">Cotton</a></li>
                                            <li class="item2" id="item15_14"><a href="https://constants.datanab.net/chemistry/melting_point/diamond">Diamond</a></li>
                                            <li class="item2" id="item15_15"><a href="https://constants.datanab.net/chemistry/melting_point/earth">Earth</a></li>
                                            <li class="item2" id="item15_16"><a href="https://constants.datanab.net/chemistry/melting_point/glass">Glass</a></li>
                                            <li class="item2" id="item15_17"><a href="https://constants.datanab.net/chemistry/melting_point/gold">Gold</a></li>
                                            <li class="item2" id="item15_18"><a href="https://constants.datanab.net/chemistry/melting_point/ice">Ice</a></li>
                                            <li class="item2" id="item15_19"><a href="https://constants.datanab.net/chemistry/melting_point/iron">Iron</a></li>
                                            <li class="item2" id="item15_20"><a href="https://constants.datanab.net/chemistry/melting_point/lead">Lead</a></li>
                                            <li class="item2" id="item15_21"><a href="https://constants.datanab.net/chemistry/melting_point/leather">Leather</a></li>
                                            <li class="item2" id="item15_22"><a href="https://constants.datanab.net/chemistry/melting_point/mercury">Mercury</a></li>
                                            <li class="item2" id="item15_23"><a href="https://constants.datanab.net/chemistry/melting_point/nickel">Nickel</a></li>
                                            <li class="item2" id="item15_24"><a href="https://constants.datanab.net/chemistry/melting_point/oak_wood">Oak Wood</a></li>
                                            <li class="item2" id="item15_25"><a href="https://constants.datanab.net/chemistry/melting_point/paper">Paper</a></li>
                                            <li class="item2" id="item15_26"><a href="https://constants.datanab.net/chemistry/melting_point/plaster">Plaster</a></li>
                                            <li class="item2" id="item15_27"><a href="https://constants.datanab.net/chemistry/melting_point/rubber">Rubber</a></li>
                                            <li class="item2" id="item15_28"><a href="https://constants.datanab.net/chemistry/melting_point/salt">Salt</a></li>
                                            <li class="item2" id="item15_29"><a href="https://constants.datanab.net/chemistry/melting_point/sand">Sand</a></li>
                                            <li class="item2" id="item15_30"><a href="https://constants.datanab.net/chemistry/melting_point/silicon">Silicon</a></li>
                                            <li class="item2" id="item15_31"><a href="https://constants.datanab.net/chemistry/melting_point/steel">Steel</a></li>
                                            <li class="item2" id="item15_32"><a href="https://constants.datanab.net/chemistry/melting_point/stone">Stone</a></li>
                                            <li class="item2" id="item15_33"><a href="https://constants.datanab.net/chemistry/melting_point/tin">Tin</a></li>
                                            <li class="item2" id="item15_34"><a href="https://constants.datanab.net/chemistry/melting_point/tungsten">Tungsten</a></li>
                                            <li class="item2" id="item15_35"><a href="https://constants.datanab.net/chemistry/melting_point/uranium">Uranium</a></li>
                                        </ul>
                                    </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Biology Constants</th>
                                    <th>Natural Constants</th>
                                </tr>
                                <tr>
                                    <td><a href="https://constants.datanab.net/biology/blood_volume_of_human">Average Blood Volume of 70kg Adult</a><br>
                                        <a href="https://constants.datanab.net/biology/life_expectancy">Human Life Expectancy</a><br>
                                        <a href="https://constants.datanab.net/biology/theobromine_cocoa">Amount of Theobromine in Cocoa</a><br>
                                        <ul class="open">
                                            <ol class="item3" id="item1"><a class="item1" onclick="toggle('item1');">LD50 for Humans (click to expand)</a></ol>
                                                <ul id="ul_item1" class="closed">
                                                    <li class="item2" id="item1_1"><a href="https://constants.datanab.net/biology/human_ld50_nicotine">Nicotine (taken orally)</a></li>
                                                    <li class="item2" id="item1_10"><a href="https://constants.datanab.net/biology/human_ld50_nicotine_iv">Nicotine (taken intravenously)</a></li>
                                                    <li class="item2" id="item1_2"><a href="https://constants.datanab.net/biology/human_ld50_lsd">LSD</li>
                                                    <li class="item2" id="item1_3"><a href="https://constants.datanab.net/biology/human_ld50_psilocypbin">Psilocypbin</li>
                                                    <li class="item2" id="item1_4"><a href="https://constants.datanab.net/biology/human_ld50_thc">THC (taken orally)</li>
                                                    <li class="item2" id="item1_4"><a href="https://constants.datanab.net/biology/human_ld50_thc_inhalation">THC (inhaled)</li>
                                                    <li class="item2" id="item1_5"><a href="https://constants.datanab.net/biology/human_ld50_caffeine">Caffeine</li>
                                                    <li class="item2" id="item1_6"><a href="https://constants.datanab.net/biology/human_ld50_acetaminophen">Acetaminophen</li>
                                                    <li class="item2" id="item1_7"><a href="https://constants.datanab.net/biology/human_ld50_aspirin">Aspirin</li>
                                                    <li class="item2" id="item1_8"><a href="https://constants.datanab.net/biology/human_ld50_vitamin_a">Vitamin A</li>
                                                    <li class="item2" id="item1_9"><a href="https://constants.datanab.net/biology/human_ld50_nerve_gas">Nerve Gas</li>
                                                    <li class="item2" id="item1_12"><a href="https://constants.datanab.net/biology/human_ld50_theobromine">Theobromine</li>
                                                </ul>
                                            <br>
                                            <ol class="item3" id="item2"><a class="item1" onclick="toggle('item2');">LD50 for Dogs (click to expand)</a></ol>
                                                <ul id="ul_item2" class="closed">
                                                    <li class="item2" id="item2_1"><a href="https://constants.datanab.net/biology/dog_ld50_theobromine">Theobromine</li>
                                                </ul>
                                            <br>
                                            <ol class="item3" id="item3"><a class="item1" onclick="toggle('item3');">LD50 for Cats (click to expand)</a></ol>
                                                <ul id="ul_item3" class="closed">
                                                    <li class="item2" id="item3_1"><a href="https://constants.datanab.net/biology/cat_ld50_theobromine">Theobromine</li>
                                                </ul>
                                        </ul>
                                    </td>
                                    <td>
                                    <ul class="open">
                                        <ol class="item3" id="item4"><a class="item4" onclick="toggle('item4');">Mercury Constants (click to expand)</a></ol>
                                        <ul id="ul_item4" class="closed">
                                            <li class="item2" id="item4_1"><a href="https://constants.datanab.net/natural/mercury/axial_tilt">Axial Tilt</a></li>
                                            <li class="item2" id="item4_2"><a href="https://constants.datanab.net/natural/mercury/black_body_temperature">Black Body Temperature</a></li>
                                            <li class="item2" id="item4_3"><a href="https://constants.datanab.net/natural/mercury/distance_from_sun">Distance From the Sun</a></li>
                                            <li class="item2" id="item4_4"><a href="https://constants.datanab.net/natural/mercury/equatorial_radius">Equatorial Radius</a></li>
                                            <li class="item2" id="item4_5"><a href="https://constants.datanab.net/natural/mercury/escape_velocity">Escape Velocity</a></li>
                                            <li class="item2" id="item4_6"><a href="https://constants.datanab.net/natural/mercury/length_of_day">Length of Day</a></li>
                                            <li class="item2" id="item4_7"><a href="https://constants.datanab.net/natural/mercury/mass">Mass</a></li>
                                            <li class="item2" id="item4_8"><a href="https://constants.datanab.net/natural/mercury/mean_density">Mean Density</a></li>
                                            <li class="item2" id="item4_9"><a href="https://constants.datanab.net/natural/mercury/mean_orbital_velocity">Mean Orbital Velocity</a></li>
                                            <li class="item2" id="item4_10"><a href="https://constants.datanab.net/natural/mercury/orbital_period">Orbital Period</a></li>
                                            <li class="item2" id="item4_11"><a href="https://constants.datanab.net/natural/mercury/polar_radius">Polar Radius</a></li>
                                            <li class="item2" id="item4_12"><a href="https://constants.datanab.net/natural/mercury/solar_irradiance">Solar Irradiance</a></li>
                                            <li class="item2" id="item4_13"><a href="https://constants.datanab.net/natural/mercury/surface_gravity">Surface Gravity</a></li>
                                            <li class="item2" id="item4_14"><a href="https://constants.datanab.net/natural/mercury/volume">Volume</a></li>
                                        </ul>
                                        <br>
                                        <ol class="item3" id="item5"><a class="item4" onclick="toggle('item5');">Venus Constants (click to expand)</a></ol>
                                        <ul id="ul_item5" class="closed">
                                            <li class="item2" id="item5_1"><a href="https://constants.datanab.net/natural/venus/axial_tilt">Axial Tilt</a></li>
                                            <li class="item2" id="item5_2"><a href="https://constants.datanab.net/natural/venus/black_body_temperature">Black Body Temperature</a></li>
                                            <li class="item2" id="item5_3"><a href="https://constants.datanab.net/natural/venus/distance_from_sun">Distance From the Sun</a></li>
                                            <li class="item2" id="item5_4"><a href="https://constants.datanab.net/natural/venus/equatorial_radius">Equatorial Radius</a></li>
                                            <li class="item2" id="item5_5"><a href="https://constants.datanab.net/natural/venus/escape_velocity">Escape Velocity</a></li>
                                            <li class="item2" id="item5_6"><a href="https://constants.datanab.net/natural/venus/length_of_day">Length of Day</a></li>
                                            <li class="item2" id="item5_7"><a href="https://constants.datanab.net/natural/venus/mass">Mass</a></li>
                                            <li class="item2" id="item5_8"><a href="https://constants.datanab.net/natural/venus/mean_density">Mean Density</a></li>
                                            <li class="item2" id="item5_9"><a href="https://constants.datanab.net/natural/venus/mean_orbital_velocity">Mean Orbital Velocity</a></li>
                                            <li class="item2" id="item5_10"><a href="https://constants.datanab.net/natural/venus/orbital_period">Orbital Period</a></li>
                                            <li class="item2" id="item5_11"><a href="https://constants.datanab.net/natural/venus/polar_radius">Polar Radius</a></li>
                                            <li class="item2" id="item5_12"><a href="https://constants.datanab.net/natural/venus/solar_irradiance">Solar Irradiance</a></li>
                                            <li class="item2" id="item5_13"><a href="https://constants.datanab.net/natural/venus/surface_gravity">Surface Gravity</a></li>
                                            <li class="item2" id="item5_14"><a href="https://constants.datanab.net/natural/venus/volume">Volume</a></li>
                                        </ul>
                                        <br>
                                        <ol class="item3" id="item6"><a class="item4" onclick="toggle('item6');">Earth Constants (click to expand)</a></ol>
                                        <ul id="ul_item6" class="closed">
                                            <li class="item2" id="item6_1"><a href="https://constants.datanab.net/natural/earth/axial_tilt">Axial Tilt</a></li>
                                            <li class="item2" id="item6_2"><a href="https://constants.datanab.net/natural/earth/black_body_temperature">Black Body Temperature</a></li>
                                            <li class="item2" id="item6_3"><a href="https://constants.datanab.net/natural/earth/distance_from_sun">Distance From the Sun</a></li>
                                            <li class="item2" id="item6_4"><a href="https://constants.datanab.net/natural/earth/equatorial_radius">Equatorial Radius</a></li>
                                            <li class="item2" id="item6_5"><a href="https://constants.datanab.net/natural/earth/escape_velocity">Escape Velocity</a></li>
                                            <li class="item2" id="item6_6"><a href="https://constants.datanab.net/natural/earth/length_of_day">Length of Day</a></li>
                                            <li class="item2" id="item6_7"><a href="https://constants.datanab.net/natural/earth/mass">Mass</a></li>
                                            <li class="item2" id="item6_8"><a href="https://constants.datanab.net/natural/earth/mean_density">Mean Density</a></li>
                                            <li class="item2" id="item6_9"><a href="https://constants.datanab.net/natural/earth/mean_orbital_velocity">Mean Orbital Velocity</a></li>
                                            <li class="item2" id="item6_10"><a href="https://constants.datanab.net/natural/earth/orbital_period">Orbital Period</a></li>
                                            <li class="item2" id="item6_11"><a href="https://constants.datanab.net/natural/earth/polar_radius">Polar Radius</a></li>
                                            <li class="item2" id="item6_12"><a href="https://constants.datanab.net/natural/earth/solar_irradiance">Solar Irradiance</a></li>
                                            <li class="item2" id="item6_13"><a href="https://constants.datanab.net/natural/earth/surface_gravity">Surface Gravity</a></li>
                                            <li class="item2" id="item6_14"><a href="https://constants.datanab.net/natural/earth/volume">Volume</a></li>
                                        </ul>
                                        <br>
                                        <ol class="item3" id="item7"><a class="item4" onclick="toggle('item7');">Moon Constants (click to expand)</a></ol>
                                        <ul id="ul_item7" class="closed">
                                            <li class="item2" id="item7_1"><a href="https://constants.datanab.net/natural/moon/axial_tilt">Axial Tilt</a></li>
                                            <li class="item2" id="item7_2"><a href="https://constants.datanab.net/natural/moon/black_body_temperature">Black Body Temperature</a></li>
                                            <li class="item2" id="item7_3"><a href="https://constants.datanab.net/natural/moon/distance_from_sun">Distance From the Sun</a></li>
                                            <li class="item2" id="item7_4"><a href="https://constants.datanab.net/natural/moon/equatorial_radius">Equatorial Radius</a></li>
                                            <li class="item2" id="item7_5"><a href="https://constants.datanab.net/natural/moon/escape_velocity">Escape Velocity</a></li>
                                            <li class="item2" id="item7_6"><a href="https://constants.datanab.net/natural/moon/length_of_day">Length of Day</a></li>
                                            <li class="item2" id="item7_7"><a href="https://constants.datanab.net/natural/moon/mass">Mass</a></li>
                                            <li class="item2" id="item7_8"><a href="https://constants.datanab.net/natural/moon/mean_density">Mean Density</a></li>
                                            <li class="item2" id="item7_9"><a href="https://constants.datanab.net/natural/moon/mean_orbital_velocity">Mean Orbital Velocity</a></li>
                                            <li class="item2" id="item7_10"><a href="https://constants.datanab.net/natural/moon/orbital_period">Orbital Period</a></li>
                                            <li class="item2" id="item7_11"><a href="https://constants.datanab.net/natural/moon/polar_radius">Polar Radius</a></li>
                                            <li class="item2" id="item7_12"><a href="https://constants.datanab.net/natural/moon/solar_irradiance">Solar Irradiance</a></li>
                                            <li class="item2" id="item7_13"><a href="https://constants.datanab.net/natural/moon/surface_gravity">Surface Gravity</a></li>
                                            <li class="item2" id="item7_14"><a href="https://constants.datanab.net/natural/moon/volume">Volume</a></li>
                                        </ul>
                                        <br>
                                        <ol class="item3" id="item8"><a class="item4" onclick="toggle('item8');">Mars Constants (click to expand)</a></ol>
                                        <ul id="ul_item8" class="closed">
                                            <li class="item2" id="item8_1"><a href="https://constants.datanab.net/natural/mars/axial_tilt">Axial Tilt</a></li>
                                            <li class="item2" id="item8_2"><a href="https://constants.datanab.net/natural/mars/black_body_temperature">Black Body Temperature</a></li>
                                            <li class="item2" id="item8_3"><a href="https://constants.datanab.net/natural/mars/distance_from_sun">Distance From the Sun</a></li>
                                            <li class="item2" id="item8_4"><a href="https://constants.datanab.net/natural/mars/equatorial_radius">Equatorial Radius</a></li>
                                            <li class="item2" id="item8_5"><a href="https://constants.datanab.net/natural/mars/escape_velocity">Escape Velocity</a></li>
                                            <li class="item2" id="item8_6"><a href="https://constants.datanab.net/natural/mars/length_of_day">Length of Day</a></li>
                                            <li class="item2" id="item8_7"><a href="https://constants.datanab.net/natural/mars/mass">Mass</a></li>
                                            <li class="item2" id="item8_8"><a href="https://constants.datanab.net/natural/mars/mean_density">Mean Density</a></li>
                                            <li class="item2" id="item8_9"><a href="https://constants.datanab.net/natural/mars/mean_orbital_velocity">Mean Orbital Velocity</a></li>
                                            <li class="item2" id="item8_10"><a href="https://constants.datanab.net/natural/mars/orbital_period">Orbital Period</a></li>
                                            <li class="item2" id="item8_11"><a href="https://constants.datanab.net/natural/mars/polar_radius">Polar Radius</a></li>
                                            <li class="item2" id="item8_12"><a href="https://constants.datanab.net/natural/mars/solar_irradiance">Solar Irradiance</a></li>
                                            <li class="item2" id="item8_13"><a href="https://constants.datanab.net/natural/mars/surface_gravity">Surface Gravity</a></li>
                                            <li class="item2" id="item8_14"><a href="https://constants.datanab.net/natural/mars/volume">Volume</a></li>
                                        </ul>
                                        <br>
                                        <ol class="item3" id="item9"><a class="item4" onclick="toggle('item9');">Jupiter Constants (click to expand)</a></ol>
                                        <ul id="ul_item9" class="closed">
                                            <li class="item2" id="item9_1"><a href="https://constants.datanab.net/natural/jupiter/axial_tilt">Axial Tilt</a></li>
                                            <li class="item2" id="item9_2"><a href="https://constants.datanab.net/natural/jupiter/black_body_temperature">Black Body Temperature</a></li>
                                            <li class="item2" id="item9_3"><a href="https://constants.datanab.net/natural/jupiter/distance_from_sun">Distance From the Sun</a></li>
                                            <li class="item2" id="item9_4"><a href="https://constants.datanab.net/natural/jupiter/equatorial_radius">Equatorial Radius</a></li>
                                            <li class="item2" id="item9_5"><a href="https://constants.datanab.net/natural/jupiter/escape_velocity">Escape Velocity</a></li>
                                            <li class="item2" id="item9_6"><a href="https://constants.datanab.net/natural/jupiter/length_of_day">Length of Day</a></li>
                                            <li class="item2" id="item9_7"><a href="https://constants.datanab.net/natural/jupiter/mass">Mass</a></li>
                                            <li class="item2" id="item9_8"><a href="https://constants.datanab.net/natural/jupiter/mean_density">Mean Density</a></li>
                                            <li class="item2" id="item9_9"><a href="https://constants.datanab.net/natural/jupiter/mean_orbital_velocity">Mean Orbital Velocity</a></li>
                                            <li class="item2" id="item9_10"><a href="https://constants.datanab.net/natural/jupiter/orbital_period">Orbital Period</a></li>
                                            <li class="item2" id="item9_11"><a href="https://constants.datanab.net/natural/jupiter/polar_radius">Polar Radius</a></li>
                                            <li class="item2" id="item9_12"><a href="https://constants.datanab.net/natural/jupiter/solar_irradiance">Solar Irradiance</a></li>
                                            <li class="item2" id="item9_13"><a href="https://constants.datanab.net/natural/jupiter/surface_gravity">Surface Gravity</a></li>
                                            <li class="item2" id="item9_14"><a href="https://constants.datanab.net/natural/jupiter/volume">Volume</a></li>
                                        </ul>
                                        <br>
                                        <ol class="item3" id="item10"><a class="item4" onclick="toggle('item10');">Saturn Constants (click to expand)</a></ol>
                                        <ul id="ul_item10" class="closed">
                                            <li class="item2" id="item10_1"><a href="https://constants.datanab.net/natural/saturn/axial_tilt">Axial Tilt</a></li>
                                            <li class="item2" id="item10_2"><a href="https://constants.datanab.net/natural/saturn/black_body_temperature">Black Body Temperature</a></li>
                                            <li class="item2" id="item10_3"><a href="https://constants.datanab.net/natural/saturn/distance_from_sun">Distance From the Sun</a></li>
                                            <li class="item2" id="item10_4"><a href="https://constants.datanab.net/natural/saturn/equatorial_radius">Equatorial Radius</a></li>
                                            <li class="item2" id="item10_5"><a href="https://constants.datanab.net/natural/saturn/escape_velocity">Escape Velocity</a></li>
                                            <li class="item2" id="item10_6"><a href="https://constants.datanab.net/natural/saturn/length_of_day">Length of Day</a></li>
                                            <li class="item2" id="item10_7"><a href="https://constants.datanab.net/natural/saturn/mass">Mass</a></li>
                                            <li class="item2" id="item10_8"><a href="https://constants.datanab.net/natural/saturn/mean_density">Mean Density</a></li>
                                            <li class="item2" id="item10_9"><a href="https://constants.datanab.net/natural/saturn/mean_orbital_velocity">Mean Orbital Velocity</a></li>
                                            <li class="item2" id="item10_10"><a href="https://constants.datanab.net/natural/saturn/orbital_period">Orbital Period</a></li>
                                            <li class="item2" id="item10_11"><a href="https://constants.datanab.net/natural/saturn/polar_radius">Polar Radius</a></li>
                                            <li class="item2" id="item10_12"><a href="https://constants.datanab.net/natural/saturn/solar_irradiance">Solar Irradiance</a></li>
                                            <li class="item2" id="item10_13"><a href="https://constants.datanab.net/natural/saturn/surface_gravity">Surface Gravity</a></li>
                                            <li class="item2" id="item10_14"><a href="https://constants.datanab.net/natural/saturn/volume">Volume</a></li>
                                        </ul>
                                        <br>
                                        <ol class="item3" id="item11"><a class="item4" onclick="toggle('item11');">Uranus Constants (click to expand)</a></ol>
                                        <ul id="ul_item11" class="closed">
                                            <li class="item2" id="item11_1"><a href="https://constants.datanab.net/natural/uranus/axial_tilt">Axial Tilt</a></li>
                                            <li class="item2" id="item11_2"><a href="https://constants.datanab.net/natural/uranus/black_body_temperature">Black Body Temperature</a></li>
                                            <li class="item2" id="item11_3"><a href="https://constants.datanab.net/natural/uranus/distance_from_sun">Distance From the Sun</a></li>
                                            <li class="item2" id="item11_4"><a href="https://constants.datanab.net/natural/uranus/equatorial_radius">Equatorial Radius</a></li>
                                            <li class="item2" id="item11_5"><a href="https://constants.datanab.net/natural/uranus/escape_velocity">Escape Velocity</a></li>
                                            <li class="item2" id="item11_6"><a href="https://constants.datanab.net/natural/uranus/length_of_day">Length of Day</a></li>
                                            <li class="item2" id="item11_7"><a href="https://constants.datanab.net/natural/uranus/mass">Mass</a></li>
                                            <li class="item2" id="item11_8"><a href="https://constants.datanab.net/natural/uranus/mean_density">Mean Density</a></li>
                                            <li class="item2" id="item11_9"><a href="https://constants.datanab.net/natural/uranus/mean_orbital_velocity">Mean Orbital Velocity</a></li>
                                            <li class="item2" id="item11_10"><a href="https://constants.datanab.net/natural/uranus/orbital_period">Orbital Period</a></li>
                                            <li class="item2" id="item11_11"><a href="https://constants.datanab.net/natural/uranus/polar_radius">Polar Radius</a></li>
                                            <li class="item2" id="item11_12"><a href="https://constants.datanab.net/natural/uranus/solar_irradiance">Solar Irradiance</a></li>
                                            <li class="item2" id="item11_13"><a href="https://constants.datanab.net/natural/uranus/surface_gravity">Surface Gravity</a></li>
                                            <li class="item2" id="item11_14"><a href="https://constants.datanab.net/natural/uranus/volume">Volume</a></li>
                                        </ul>
                                        <br>
                                        <ol class="item3" id="item12"><a class="item4" onclick="toggle('item12');">Neptune Constants (click to expand)</a></ol>
                                        <ul id="ul_item12" class="closed">
                                            <li class="item2" id="item12_1"><a href="https://constants.datanab.net/natural/neptune/axial_tilt">Axial Tilt</a></li>
                                            <li class="item2" id="item12_2"><a href="https://constants.datanab.net/natural/neptune/black_body_temperature">Black Body Temperature</a></li>
                                            <li class="item2" id="item12_3"><a href="https://constants.datanab.net/natural/neptune/distance_from_sun">Distance From the Sun</a></li>
                                            <li class="item2" id="item12_4"><a href="https://constants.datanab.net/natural/neptune/equatorial_radius">Equatorial Radius</a></li>
                                            <li class="item2" id="item12_5"><a href="https://constants.datanab.net/natural/neptune/escape_velocity">Escape Velocity</a></li>
                                            <li class="item2" id="item12_6"><a href="https://constants.datanab.net/natural/neptune/length_of_day">Length of Day</a></li>
                                            <li class="item2" id="item12_7"><a href="https://constants.datanab.net/natural/neptune/mass">Mass</a></li>
                                            <li class="item2" id="item12_8"><a href="https://constants.datanab.net/natural/neptune/mean_density">Mean Density</a></li>
                                            <li class="item2" id="item12_9"><a href="https://constants.datanab.net/natural/neptune/mean_orbital_velocity">Mean Orbital Velocity</a></li>
                                            <li class="item2" id="item12_10"><a href="https://constants.datanab.net/natural/neptune/orbital_period">Orbital Period</a></li>
                                            <li class="item2" id="item12_11"><a href="https://constants.datanab.net/natural/neptune/polar_radius">Polar Radius</a></li>
                                            <li class="item2" id="item12_12"><a href="https://constants.datanab.net/natural/neptune/solar_irradiance">Solar Irradiance</a></li>
                                            <li class="item2" id="item12_13"><a href="https://constants.datanab.net/natural/neptune/surface_gravity">Surface Gravity</a></li>
                                            <li class="item2" id="item12_14"><a href="https://constants.datanab.net/natural/neptune/volume">Volume</a></li>
                                        </ul>
                                    </ul>
                                    </td>
                                </tr>
                            </table>
                    </div><!--/row-->
                </div><!--/span-->
            </div><!--/row-->
            
            <hr>
            
        </div><!--/.fluid-container-->
        <footer> <!-- site wide footer -->
            <nav>
                Copyright &copy; Josh Fernandes 2012
            </nav>
        </footer>
        <script src="https://conversions.herokuapp.com/static/js/jquery.js"></script>
        <script src="https://conversions.herokuapp.com/static/js/bootstrap.js"></script>
        <script src="https://conversions.herokuapp.com/static/js/bootstrap.min.js"></script>
        <script src="https://conversions.herokuapp.com/static/js/timestamp.js"></script>
        <script src="https://conversions.herokuapp.com/static/js/bootstrap-dropdown.js"></script>
        <script src="https://conversions.herokuapp.com/static/js/toggle.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                              $('.dropdown-toggle').dropdown();
                              });
        </script>
        <script>
            
            
            
            //li with fade class
            $("ol.fade").hover(function(){$(this).fadeOut(100);$(this).fadeIn(500);});

        </script>
        <script src="//static.getclicky.com/js" type="text/javascript"></script>
        <script type="text/javascript">try{ clicky.init(100642142); }catch(e){}</script>
    </body>
</html>