<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="utf-8">
        <title>Constants Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" type="text/css" href="http://conversions.herokuapp.com/static/bootstrap.css" />
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }
            th
            {
                text-align: center
            }
            td
            {
                padding:15px; text-align: left
            }
            footer {
                position:absolute;
                bottom:0;
                width:100%;
                height:20px;   /* Height of the footer */
                background:#6cf;
            }
        </style>
        <link rel="shortcut icon" href="ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Project name</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="http://murmuring-crag-5557.herokuapp.com/"><i class="icon-home icon-white"></i>Home</a></li>
                            <li><a href="#about"></i>About</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                        <form class="navbar-search pull-right">
                            <input type="text" class="input-medium search-query" placeholder="Search">
                                <button type="submit" class="btn">Search</button>
                                </form>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Pages</li>
                            <li><a href="http://constants.herokuapp.com/">Constants</a></li>
                            <li><a href="http://conversions.herokuapp.com/">Conversion Coefficients</a></li>
                            <li><a href="http://prices.herokuapp.com/">Prices</a></li>
                            <li><a href="http://efficiency.herokuapp.com/">Efficiencies</a></li>
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->
                <div class="span9">
                    <div class="well well-small">
                        <h3>Constants</h3>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <table border="0" width="500" >
                                <tr>
                                    <th>Physics Constants</th>
                                    <th>Chemistry Constants</th>
                                </tr>
                                <tr>
                                    <td><a href="http://constants.herokuapp.com/physics/planck_constant">Planck's Constant</a><br>
                                        <a href="http://constants.herokuapp.com/physics/standard_gravity">Standard Gravity</a><br>
                                        <a href="http://constants.herokuapp.com/physics/electron_mass">Electron Mass</a><br>
                                        <a href="http://constants.herokuapp.com/physics/characteristic_impedance_of_vacuum">Impedance of a vacuum</a><br>
                                        <a href="http://constants.herokuapp.com/physics/vacuum_permittivity">Vacuum Permittivity</a><br>
                                        <a href="http://constants.herokuapp.com/physics/proton_mass">Proton Mass</a><br>
                                        <a href="http://constants.herokuapp.com/physics/neutron_mass">Neutron Mass</a><br>
                                        <a href="http://constants.herokuapp.com/physics/elementary_charge">Elementray Charge</a><br></td>
                                    <td>row 1, cell 2</td>
                                </tr>
                                <tr>
                                    <th>Biology Constants</th>
                                    <th>Engineering Constants</th>
                                </tr>
                                <tr>
                                    <td>row 2, cell 1</td>
                                    <td>row 2, cell 2</td>
                                </tr>
                            </table>
                        </div><!--/span-->
                        <div class="span6">
                            <h2>Heading</h2>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        </div><!--/span-->
                    </div><!--/row-->
                </div><!--/span-->
            </div><!--/row-->
            
            <hr>
            
        </div><!--/.fluid-container-->
        <footer> <!-- site wide footer -->
            <nav>
                Copyright &copy; Josh Fernandes 2012
            </nav>
        </footer>
        <script src="http://conversions.herokuapp.com/static/js/jquery.js"></script>
        <script src="http://conversions.herokuapp.com/static/js/bootstrap.js"></script>
        <script src="http://conversions.herokuapp.com/static/js/bootstrap.min.js"></script>
        <script
            type="text/JavaScript"
            language="JavaScript">
            <!--
            //
            // format date as dd-mmm-yy
            // example: 12-Jan-99
            //
            function date_ddmmmyy(date)
            {
                var d = date.getDate();
                var m = date.getMonth() + 1;
                var y = date.getYear();
                
                // handle different year values
                // returned by IE and NS in
                // the year 2000.
                if(y >= 2000)
                {
                    y -= 2000;
                }
                if(y >= 100)
                {
                    y -= 100;
                }
                
                // could use splitString() here
                // but the following method is
                // more compatible
                var mmm =
                ( 1==m)?'Jan':( 2==m)?'Feb':(3==m)?'Mar':
                ( 4==m)?'Apr':( 5==m)?'May':(6==m)?'Jun':
                ( 7==m)?'Jul':( 8==m)?'Aug':(9==m)?'Sep':
                (10==m)?'Oct':(11==m)?'Nov':'Dec';
                
                return "" +
                (d<10?"0"+d:d) + "-" +
                mmm + "-" +
                (y<10?"0"+y:y);
            }
            
            
            //
            // get last modified date of the 
            // current document.
            //
            function date_lastmodified()
            {
                var lmd = document.lastModified;
                var s   = "Unknown";
                var d1;
                
                // check if we have a valid date
                // before proceeding
                if(0 != (d1=Date.parse(lmd)))
                {
                    s = "" + date_ddmmmyy(new Date(d1));
                }
                
                return s;
            }
            
            //
            // finally display the last modified date
            // as DD-MMM-YY
            //
            document.write( 
                           "This page was updated on " + 
                           date_lastmodified() );
            
            // -->
            </script>
    </body>
</html>