<!DOCTYPE html>
<html>
    <head>
        <h1>Index Page</h1>
        <link rel="stylesheet" href="static.mystyle.css" TYPE="text/css">
    </head>
    <body>
        <header><u>Physics Constants</u></header>
        <p>
        <a href="http://constants.herokuapp.com/physics/planck_constant">Planck's Constant</a><br>
        <a href="http://constants.herokuapp.com/physics/standard_gravity">Standard Gravity</a><br>
        <a href="http://constants.herokuapp.com/physics/electron_mass">Electron Mass</a><br>
        <a href="http://constants.herokuapp.com/physics/characteristic_impedance_of_vacuum">Impedance of a vacuum</a><br>
        <a href="http://constants.herokuapp.com/physics/vacuum_permittivity">Vacuum Permittivity</a><br>
        <a href="http://constants.herokuapp.com/physics/proton_mass">Proton Mass</a><br>
        <a href="http://constants.herokuapp.com/physics/neutron_mass">Neutron Mass</a><br>
        <a href="http://constants.herokuapp.com/physics/elementary_charge">Elementray Charge</a><br>
        </p>
        <header><u>Chemistry Constants</u></header>
        <p>
        links go here
        </p>
    </body>
</html>