<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <h1>Index Page</h1>
        {% endblock head %}
    </head>
    <body>
        <header>{% block header %}Physics Constants{% endblock header %}</header>
        {# Note: This assumes we *always* want a header #}
        {% block content %}
        <a href="http://constants.herokuapp.com/physics/planck_constant">Planck's Constant</a>
        <a href="http://constants.herokuapp.com/physics/standard_gravity">Standard Gravity</a>
        {% endblock content %}
    </body>
</html>