<!DOCTYPE html>
<html lang="en">
        <head>
            var planck_constant = {
                "value": 6.62606957e-34,
                "units": "joule*seconds",
                "name": "planck constant",
                "citation": "http://en.wikipedia.org/wiki/Planck_constant"
            };
        </head>
    <hr>
        <body>
            var planck_constant = {
            "value": 6.62606957e-34,
            "units": "joule*seconds",
            "name": "planck constant",
            "citation": "http://en.wikipedia.org/wiki/Planck_constant"
            };
            <script src="http://conversions.herokuapp.com/static/js/timestamp.js"></script>
        </body>
</html>